
.landing {
  background-color: #958787;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.App {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
}

h1 {
  text-align: center;
}
.projectPage {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.projectForm {
  margin-right: 10%;
}


 input {
   margin-left: 30%;
   width: 200px;
   height: 20px;
   margin-top: 10px;
 }

 Button {
  margin-left: 30%;
 }


.editProject {
  height: 100%;
  width: 300px;
  margin-right: 10%;
}

.listDiv {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.editProject {
  width: 450px;
  margin-left: 0;
  margin-right: 0;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.editProjectList {
  width: 200px;
  font-size: 12px;
  overflow: hidden;
  background-color: #958787;
  margin: 10px;
  opacity: 80%;
}

.editProjectList:hover {
  filter: invert(1);
}


.delete {
  color: white;
  padding: 5px;
  border-radius: 10%;
  font-size: 16px;
  background-color: red;
}


.list {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projectList {
  width: 200px;
  font-size: 12px;
  overflow: hidden;
  background-color: #958787;
  margin: 10px;
}


p {
  color: #333;
  display: block;
}

h2 {
  color: #333;
  font-weight: 900;
  text-align: center;
}

h3 {
  color: #493e3e;
}

.login {
  width: 50%;
}

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: #958787;
  margin: 20px;
}

a {
  text-decoration: none;
  color: #493e3e;
  margin-bottom: 10px;
  font-size: 16px;
}

.donBtn {
  color:black;
}

.selectbox {
  align-items: center;
  border: 5px solid black;
  margin-left: 30px;
}