.landing {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  
}

.projectPage {
  text-align: center;
  display: flex;
}

.projectForm {
  height: 100%;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10%;
}


.list {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectList {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.023), 0 3px 6px rgba(0, 0, 0, 0.023);

  width: 200px;
  box-sizing: inherit;
  font-size: 12px;
  overflow: hidden;
}

p {
  color: #333;
  display: block;
}

h2 {
  color: #333;
  font-weight: 900;
  text-align: center;
}