.App {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  
}

.projectPage {
  text-align: center;
  display: flex;
}

.projectForm {
  height: 100%;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10%;
}


.projectList {
  width: 300px;
  height: auto;
}